*{
    padding: 0;
    margin: 0;
}
body{
    background: #babeee;   
    background-image: linear-gradient(rgba(157, 123, 185, 0.705),rgba(124, 212, 208, 0.856)), url(../images/back.jpg);
    font-family: 'Playfair Display', sans-serif; 
    height : 100vh;
	background-size: cover;
	background-position:center;
}

.logo img{
	float:	left;
	width:	200px;
	height:	47px;
  transform: translate(2%,50%);
   position: absolute;

}
.menu ul {
        float: right;
        list-style-type: none;
        margin: 10px;
    
    
}

.menu ul li {
        padding-top: 0px;
        padding-left: 10px;
        
        display: inline-flex;
    
    
}

.menu ul li a {
    text-decoration: none;
    color: rgb(12, 11, 11);
    border: 1px transparent;
    transition: 0.8s ease;
    transform: 3D;
    padding: 5px 10px ;
}

.menu ul li a:hover{
    background-color:#7573b6;
    color: rgb(216, 215, 223);
    padding: 10px;
    margin: 5px;
}

.menu ul li.active a{
    background-color:#7573b6; 
    color: rgb(216, 215, 223);
    padding: 10px;
    margin: 5px;
}

h1{
    position: center;
    top: 30%;
    left: 50%;
    transform: translate(40%,150px);
    font-size: 50px;
    font-weight: 900;
    color: white;
    font-family: 'Playfair Display', sans-serif;
}
pre{
    position: center;
    font-family: 'Playfair Display', sans-serif;
    top: 30%;
    left: 50%;
    transform: translate(17%,35%);
    font-size: 20px;
    color: black;
}
